Flask==2.2.5                  # Compatible with Werkzeug 2.2.3
flask-login==0.6.2            # Compatible with Flask 2.2.5
werkzeug==2.2.3               # Compatible with Flask 2.2.5 and Flask-Login 0.6.2
Flask-SQLAlchemy==3.0.4       # Works with Flask 2.2.5
Flask-Bcrypt==1.0.1           # Works with Flask 2.2.5
requests==2.31.0              # No specific compatibility issues
Flask-SocketIO==5.3.5         # Compatible with Flask 2.2.5
python-socketio==5.8.0        # Works with Flask-SocketIO 5.3.5
python-engineio==4.3.4        # Works with python-socketio 5.8.0
pandas==2.1.1                 # No specific compatibility issues
matplotlib==3.8.0             # No specific compatibility issues
email_validator               # Works with Flask
flask_wtf                     # Works with Flask
gunicorn
